# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/
EPAM-HomeWORK.iml
HomeWork_Course/HomeWork_Course.iml
/index-files/
/module1/
/module2/
/testing/
/constant-values.html
/help-doc.html
/deprecated-list.html
/allclasses-frame.html
/stylesheet.css
/overview-tree.html
/overview-summary.html
/index.html
/overview-frame.html
/allclasses-noframe.html
/package-list
/script.js
